* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*To box model */
  }
  
  body {
      font-family: "Merriweather", serif;
      
    }


.imag{
    margin-top: 50px;
    margin-left: 450px;
}
    .intro{
        text-align: center;
        margin-top: 100px;
        text-shadow: #c0b73293;
        text-decoration: dotted;
        font-family:monospace;
        font-size: larger;
        
    }

    .button_primary:hover{
        cursor: pointer;
        background-color: rgba(6, 26, 82, 0.486);
    }

    .button_primary{


        color: rgb(34, 31, 31);
        border: none;
        padding: 12px;
        border-radius: 6px;
        cursor: pointer;
        margin-left: 500px;
        margin-top: 100px;
        text-shadow: #a54c3a93;
    
    }
    a{
        color: black;
        text-decoration: dotted;
    }
    .welcome{
        margin-bottom: 50px;
       
    }

    .welcome{
        margin-top: 30px;
    }
  
    .welcome{
        position: relative;   
    }
    .explore_menu_gradient_bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to right,
            #18559b93 0%,
            #3e67a585 51%,
            #4996a39f 100%
        );
        transform: skewY(-5deg);
        z-index: -3;

    }
    .explore_menu_text{
        font-size: 50px;
        margin-top: 50px;
        font-family: 'Indie Flower', cursive;
        text-align: center;
    }
